/********************* variables ************************/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --light-text-color: #cacaca;
    --dark-background-color: #303030;

    --dark-text-color: #353535;
    --light-background-color: #FEF4EA;

    --green-color: 188, 198, 2;
    --red-color: 187, 20, 54;
    --yellow-color: 254, 191, 15;    

    overscroll-behavior: none;

    scrollbar-color: rgba(var(--green-color), 1)  rgba(255, 255, 255, 0) ;
  }


  @font-face {
    font-family: 'open-arrow';
    src: url('/frontend/fonts/OpenArrow-Regular.eot') format('embedded-opentype'),
         url('/frontend/fonts/OpenArrow-Regular.woff2') format('woff2'),
         url('/frontend/fonts/OpenArrow-Regular.woff') format('woff'),
         url('/frontend/fonts/OpenArrow-Regular.otf') format('opentype'),
         url('/frontend/fonts/OpenArrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+2190-21ff;
  }




* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted rgb(97, 97, 97); */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    /* border:1px solid rgba(255, 255, 255, 0.253); */

}


/********************* layout ************************/

body {

    border: 0px;
    color: var(--dark-text-color);
    background-color: var(--light-background-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.layout {
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--light-background-color);

    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left-navigation contents";
    gap: 0px 0px;


}


/********************* left navigation buttons ************************/

.left-navigation-buttons {
    
    width: 10dvw;
    height: 95vh;
    /* background-color: rgb(160, 160, 143); */

    grid-area: left-navigation;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap:10px 0;
    position: fixed;
    z-index: 3001;
}

.left-navigation-buttons > * {
    background-color: var(--dark-background-color);
    width: 1.4dvw;
    height: 1.4dvw;
    padding: 10px;
    /* border: 1px dotted black; */
    border-radius: 50%;
    border: 2px solid var(--light-background-color);
    cursor: pointer;
}

.left-navigation-buttons > *:hover { 
    background-color: #000000;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.left-navigation-buttons > *:last-child {
    margin-bottom: 40px;
}

.left-navigation-glossarium {
    background-color: rgba(var(--yellow-color), 1);
    background-image: url("/frontend/images/glosarium.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;


}

.left-navigation-aboutComic {
    background-color: rgba(var(--red-color), 1);
    background-image: url("/frontend/images/tentang komik.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

}

.left-navigation-author {
    background-color: rgba(var(--green-color), 1);
    background-image: url("/frontend/images/tentangilustrator.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

}

/********************* contents ************************/
#contents {
    width: 90dvw;
    min-height: 100dvh;
    /* height: auto; */
    background-color: var(--light-background-color);

    grid-area: contents;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.main-comics {
    min-height: 90dvh;
    width: 100%;
    display: flex;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap:10px 00px;

    z-index: 1000;
    pointer-events:none;
}

.main-comics .chapter-title {

    /* background-color: grey; */
    font-size: 1em;
    padding: 3dvh 2dvw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-comics .comic-item {
    width: 100%;
    height: auto;
    display: block;
}

.main-comics .special-panel {
    width: 100%;
    min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}


.special-panel .special-item {
    width: 100%;
    height: auto;
    display: block;
}

.special-panel .special-item:not(:first-child) {
    position: absolute;
}


.end-of-page-buttons {
    height: 10dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap:0 5px;
    margin: auto;
    z-index: 1001;
}

.end-of-page-buttons > * {
/* background-color: var(--dark-background-color); */
color: var(--light-background-color);
/* padding: 5px 7px; */
/* border: 1px dotted black; */
border-radius: 12px;
cursor: pointer;
font-size: 0.9em;
display: flex;
justify-content: center;

}


.end-of-page-buttons > *:hover { 
    background-color: #00000000;
    color: #bb1436;
    border: 2px solid #bb1436;
    transition: all 0.2s ease-in-out;
}


.end-of-page-first, .end-of-page-last {
    background-color: #000000;
    border: 2px solid #000000;
    font-weight: 800;
    padding: 0.85ch 1% 0.85ch 1%;
    width: 7ch;
}

.end-of-page-prev, .end-of-page-next {
    background-color:#BB1436;
    border: 2px solid #bb1436;
    font-weight: 800;
    padding: 0.85ch 1% 0.85ch 1%;
    width: 4ch;
    font-family: 'open-arrow', Helvetica, sans-serif;
}

.end-of-page-select {
/* background-color: red; */
    padding: 0.5ch 1% 0.5ch 1%;
border: 2px solid #bb1436;
background-color:   var(--light-background-color);
max-width: 30ch;
min-width: 20ch;
/* border-radius: 12px; */
    /* background-color: ; */
}


select#chapter-select {
    font-weight: 400;
    background-color: rgba(var(--green-color), 0);
    height: 100%;
    /* color: var(--dark-background-color); */
    border: none;
    cursor: pointer;
    padding: 5px 0;
    text-align-last:center;
    outline: none;
    /* max-width: 14ch; */
    pointer-events:none;

}

/********************* modal pages ************************/


.aboutGlossarium {

    background-color: rgba(var(--yellow-color), 1);
    color: rgba(var(--red-color), 1);
    display: flex;
    gap:10px;
    padding: 0dvh 15dvw;
    
}

.aboutGlossarium .contents-about-close:hover {
    color: var(--dark-text-color);
    border-color: var(--dark-background-color);
    background-color: rgb(175, 175, 175, 0);
}



.aboutComic {
    background-color: rgba(var(--red-color), 1);
    color: var(--light-text-color);
    display: flex;
    gap:10px;
    padding: 0dvh 15dvw;
}


.aboutAuthors {
    background-color: rgba(var(--green-color), 1);
    color: var(--dark-text-color);
    /* display: flex; */
    gap:10px;
    padding: 0dvh 15dvw;
}

.allPages {
    background-color: var(--light-background-color);
    color: var(--dark-text-color);
    display: flex;
    gap: 3px;
    padding: 3dvh 0dvw;
}

.allPagesList {
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
gap: 3px;
/* border:1px solid black; */
}

.allPagesList > * {
    min-width: 10%;
    min-height: 4dvh;
    padding: 0 1dvw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.allPagesList-Close {
    display: block;
    text-align: center;
}

.allPagesList-Buttons:hover {
    border-bottom:2px dotted rgba(var(--red-color), 1);
}

.allPagesList-Close {
    margin-top: 30px;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
    width: 80%;
    padding: 17px 0px;
    border: 2px solid var(--dark-background-color);
    border-radius: 12px;
    font-weight: 500;
}

.allPagesList-Close:hover {
    border-bottom: none;
    background-color: var(--light-background-color);
    border: 2px dotted var(--dark-text-color);
    color: var(--dark-text-color);
}



/* 
.allPagesList:nth-child(even) {
     background-color: rgb(241, 232, 223); 
} */




.allPagesList-Buttons {
    /* background-color: wheat; */
    /* color: black; */
    cursor: pointer;
}

.allPagesList-Title {
    /* background-color: var(--dark-text-color); */
    width: 100%;
    color: var(--dark-text-color);
    font-weight: 600;
    /* border-bottom: 1px dotted var(--dark-background-color); */
}

#contents-aboutComics, #contents-aboutAuthors, #contents-allPages, #contents-aboutGlossarium {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 3002;
    flex-direction: column;
    flex-wrap: nowrap;
    animation-duration: 0.7s;
    /* display: none; */
    overflow-y: auto;
    overflow-x: hidden;
}

.contents-about-layout {
    width: 116%;
    margin: 0 auto;
    margin-left: -6dvw;
    padding-top: calc(2dvw + 10%);
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    /* background-color: #000000; */
    display: grid;
    grid-template-areas: 
    "image-header"
    "contents-text";

    justify-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns: 100%;

    column-gap: 4dvw;
    row-gap:5px;
    
    margin-bottom: 20px;
}

.contents-about-text {
    grid-area: contents-text;
    max-width: 100%;
}

.contents-about-imageheader {
    grid-area: image-header;
    max-width: 55dvw;
    min-width: 250px;
}

.contents-about-imageheader img {
    object-fit: cover;
}


.contents-about-imageheader img:hover {
    mix-blend-mode:darken;
}

.contents-about-text h1 {
    font-size: calc(1.1dvw + 2em);
}

.contents-about-text p {
    font-size: calc(0.3dvw + 0.8em);
    font-weight: 600;
}

.contents-about-links {
    font-size: calc(0.3dvw + 60%);
    font-weight: 800;
    padding: calc(1dvw + 1em) 0 2dvh 0;
    color: rgba(var(--red-color), 1);
}

.contents-about-links-list {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    white-space:nowrap;
    margin-top: 8px;
    align-items: center;
    align-content: center;
}

.contents-about-links-list img {
    max-width: 1.5em;
    object-fit: contain;
    /* min-width: 0.3em; */
    /* height: auto; */
    display: inline;
    margin-right: 4px;
}

.contents-about-links-list > * {
    align-self: center;
    max-height: 20px;
    display: flex;

    /* justify-items: baseline;
    align-content: baseline; */
    /* padding:1px; */
    /* background-color: var(--light-background-color); */
    cursor: pointer;
}

.contents-about-links-list > *:hover {
    mix-blend-mode:luminosity; }

    .contents-about-links-list > *:hover a{
        text-decoration:underline; }


.contents-about-links-list a {
    font-size: calc(0.3em + 60%);
    font-weight: 800;
    color: rgba(var(--red-color), 1);
    text-decoration: none;
    padding:2% 0px;
    /* background-color: wheat; */
    margin-right: 1dvh;
}

.contents-about-links-list a:hover {
    /* color: black; */
    /* border-bottom: 2px dotted var(--dark-background-color); */
    text-decoration:underline;
}

.contents-about-text {



}


.contents-about-close {
    margin: 0 auto;
    width: fit-content;
    height: 4%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-weight: 500;
    font-size: calc(0.3dvw + 1em);
    cursor: pointer;
    
    border: 2px dotted;

    padding: 0.7em 1.5em 0.7em 1.5em;

    border-color:  var(--dark-text-color);
    color: var(--light-text-color);

    border-radius: 12px;

    background-color: var(--dark-background-color);

    transition: all 100ms ease-in-out;

    margin-bottom: 3dvh;


}

span.arrow {
    font-family: 'open-arrow', Helvetica, sans-serif;
    display: inline;
    padding-top:3%;
}

.contents-about-close:hover {
    color: var(--light-text-color);
    border-color: var(--light-background-color);
    background-color: rgb(175, 175, 175, 0)
    /* font-style: italic;
    font-weight: 1000; */
}

.contents-about-images {
    display: block;
    max-width: 100%; 
    margin-bottom: 15px;
}


.aboutAuthors.contents-about-close {

    border-color: var(--dark-text-color);
    background-color: var(--dark-text-color);
    color: var(--light-text-color);

}

.aboutAuthors .contents-about-close:hover {
    color: var(--dark-text-color);
    border-color: var(--dark-background-color);
    background-color: rgb(175, 175, 175, 0)
}


.contents-glossarium-layout {
    width: 100%;
    margin: 0 auto;
    padding-top: calc(2dvw + 10%);
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    /* background-color: #000000; */
    display: flex;
    flex-direction: column;

    justify-content: start;
    justify-items: start;
    align-items: start;

    column-gap: 4dvw;
    row-gap:5px;
    
    margin-bottom: 5dvh;
}

.glossariumTitle {
    width: 100%;
}

.glossariumTitle h1 {
    font-size: calc(1.1dvw + 2em);
}

.glossariumTable {
    width: 100%;
}

table, th, td {
    border: none;
    text-align: left;
    padding:0.3dvh 0dvw;
    vertical-align: top;
}

.glossariumTable table {
    width: 100%;
    font-size: calc(1dvw + 0.9em);
    font-weight: 500;
}

.glossariumTable th {
    min-width: 10px;

}


.homepageContents {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: calc(8em - 2dvh) 0;
    /* margin-top: 10dvh; */
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* background-color: white; */

}

.homepageMainImage {
    /* background-image: url("../images/homebanner_a1.png");
    background-position: center;
    background-size: contain; */
    /* background-position-y: calc(10dvh + 1dvw); */
    /* background-repeat: no-repeat; */
    width: 80dvw;
    height: 55dvh;
    /* background-color: white; */
    display: grid;
    grid-template-areas: 
    "homepageLogo"
    "homepageCharacter";

    column-gap: 10dvw;
    padding:0dvh 1dvw;
    row-gap:20px;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 2fr;
}

.homepageLogo {
    width: 100%;
    /* background-color: gray; */
    grid-area: homepageLogo;
    background-image: url("../images/homebanner_typo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}

.homepageCharacter {
    width: 100%;
    /* background-color: yellow; */
    /* border: 1px solid red; */
    grid-area: homepageCharacter;
    background-image: url("../images/homebanner_rohana.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.homepageCharacterMoving {
    width: 100%;
    height: 100%;
    background-image: url("../images/homebanner_rohanaEyes.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




.readComic, .continueReadComic {
    font-size: 1.3em;
    text-decoration: none;
    padding:0.6dvh 0.3dvw;
    font-weight: 600;
    width: 14ch;
    padding: 0.7dvh 1.3dvw;
    margin-top: 2dvh;
    text-align: center;
    cursor: pointer;
    border: 2px dotted;

    color: var(--light-text-color);
    border-radius: 12px;
}

.readComic {
    border-color: var(--dark-background-color);
    background-color: var(--dark-background-color);

}

.continueReadComic {
    border-color: rgba(var(--red-color), 1);
    background-color: rgba(var(--red-color), 1);

    margin-bottom: 10dvh;
}

.footerCopyright {
    text-align: center;
    font-size: 0.9em;
}

.readComic:hover, .continueReadComic:hover {
    color: var(--dark-text-color);
    border-color: var(--dark-background-color);
    background-color: rgb(175, 175, 175, 0)
}

.homepage {
    background-color: rgba(var(--yellow-color), 1) !important;
}

.separator {
    border-bottom:0.3px solid var(--light-text-color);
    margin: 10px 0;
}

.homeTextures-topleft,
.homeTextures-topright,
.homeTextures-bottomleft,
.homeTextures-bottomright {

    width: calc(10em + 10dvw);
    height: calc(10em + 10dvw);
    position: fixed;
    
    /* background-color: white; */
}

.homeTextures-topleft {
    top: 0;
    left: 0;
    background-image: url("/frontend/images/homepage_textures.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.homeTextures-topright {
    right: 0;
    top: 0;
    background-image: url("/frontend/images/homepage_textures.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
}

.homeTextures-bottomright {
    bottom: 0;
    right: 0;
    background-image: url("/frontend/images/homepage_textures.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);

}

.homeTextures-bottomleft {
    bottom: 0;
    left: 0;
    background-image: url("/frontend/images/homepage_textures.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);

}

/********************* responsive ************************/


@media screen and (min-width: 700px) {

    .left-navigation-buttons {
        width: 7dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons {
        width: 80%;
     }

     .select#chapter-select {
        max-width: 30ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     .contents-about-layout {
        margin-left: 0; 
        width: 80%;
     }


     .contents-glossarium-layout {
        width: 60%;
     }

}

@media screen and (min-width: 900px) {

    .left-navigation-buttons {
        width: 6dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons {
        width: 60%;
     }

     .select#chapter-select {
        max-width: 30ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     
     .contents-about-layout {
        margin-left: 6dvw;
        width: 70%;
        grid-template-areas: 
        "image-header contents-text";
        grid-template-columns: 1.3fr 2fr;
     }

     .contents-glossarium-layout {
        width: 45%;
     }

     .homepageMainImage {
        grid-template-areas: 
        "homepageLogo homepageCharacter";
        column-gap: 20px;
        row-gap:20px;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 1fr;
    }

    .glossariumTable table {
        font-size: calc(1dvw + 0.7em);
    }

}

@media screen and (min-width: 1200px) {
    .left-navigation-buttons {
        width: 5dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons{
        width: 65%;
     }

     .select#chapter-select {
        max-width: 50ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     
     .contents-about-layout {
        margin-left: 0;
        grid-template-areas: 
        "image-header contents-text";
        width: 90%;
        grid-template-columns: 1.3fr 2fr;
     }

     .contents-glossarium-layout {
        width: 45%;
     }

     .homepageMainImage {
        grid-template-areas: 
        "homepageLogo homepageCharacter";
        column-gap: 0px;
        row-gap:0px;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 56vh;
    }

    .glossariumTable table {
        font-size: calc(1dvw + 0.4em);
    }


    .contents-about-links-list a {
        padding:0px 0px;
    }

}


/********************* animation ************************/

.fadeOut_05s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 0.5s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_05s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 0.5s; /* don't forget to set a duration! */
   opacity: 1
}

.fadeOut_1s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 1s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_1s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 1s; /* don't forget to set a duration! */
   opacity: 1
}


.fadeOut_2s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 2s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_2s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 2s; /* don't forget to set a duration! */
   opacity: 1;
   }

   

.delay_1s {
       animation-delay: 1s;
   }


/********************* hide ************************/

.hide {
    display: none;
}


/********************* loading ************************/
#loading {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--light-background-color);
    background-image: url("/frontend/images/loading.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    position: fixed;
    z-index: 3000;
}

.no-scroll {
    overflow: hidden !important;
    touch-action: none;
 }




/********************* textures ************************/
#textures {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--light-background-color);
    /* background-blend-mode: overlay; */
    z-index: 9999;
    mix-blend-mode: overlay;

    background-image: url("/frontend/images/textures.gif");
    background-repeat: repeat-x repeat-y;
    background-position: center;
    background-size: 100%;

    pointer-events:none;

    opacity: 0.8;
}

.disabledButton {
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
    opacity: 0.3;
    cursor: not-allowed;
    border: var(--dark-text-color);
}

.disabledButton:hover{
    background-color: var(--light-text-color);
    color: var(--dark-text-color);
    opacity: 0.3;
    cursor: not-allowed;
    border: var(--dark-text-color);
}

.italic {
    font-style: italic;
}

::selection {
    background-color: #835e40;
    color: var(--light-text-color);
  }