/********************* variables ************************/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --light-text-color: #cacaca;
    --dark-background-color: #666666;

    --dark-text-color: #353535;
    --light-background-color: #FEF4EA;

    --green-color: 188, 198, 2;
    --red-color: 187, 20, 54;
    --yellow-color: 254, 191, 15;    

    overscroll-behavior: none;

    scrollbar-color: rgba(var(--green-color), 1)  rgba(255, 255, 255, 0) ;
  }

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted rgb(97, 97, 97); */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/********************* layout ************************/

body {

    border: 0px;
    color: var(--dark-text-color);
    background-color: var(--light-background-color);
    overflow-x: hidden;
    overflow-y: scroll;
}

.layout {
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--light-background-color);

    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left-navigation contents";
    gap: 0px 0px;

}


/********************* left navigation buttons ************************/

.left-navigation-buttons {
    
    width: 10dvw;
    height: 95vh;
    /* background-color: rgb(160, 160, 143); */

    grid-area: left-navigation;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap:10px 0;
    position: fixed;
    z-index: 1003;
}

.left-navigation-buttons > * {
    background-color: var(--dark-background-color);
    width: 1.4dvw;
    height: 1.4dvw;
    padding: 10px;
    /* border: 1px dotted black; */
    border-radius: 50%;
    border: 1px solid var(--light-background-color);
    cursor: pointer;
}

.left-navigation-buttons > *:hover { 
    background-color: #000000;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.left-navigation-buttons > *:last-child {
    margin-bottom: 40px;
}

.left-navigation-sound {
    background-color: rgba(var(--green-color), 1);
}

.left-navigation-aboutComic {
    background-color: rgba(var(--red-color), 1);
}

.left-navigation-author {
    background-color: rgba(var(--yellow-color), 1);
}

/********************* contents ************************/
#contents {
    width: 90dvw;
    min-height: 100dvh;
    /* height: auto; */
    background-color: var(--light-background-color);

    grid-area: contents;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.main-comics {
    min-height: 90dvh;
    width: 100%;
    display: flex;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap:10px 00px;

    z-index: 1000;
    pointer-events:none;
}

.main-comics .chapter-title {

    /* background-color: grey; */
    font-size: 1em;
    padding: 3dvh 2dvw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-comics .comic-item {
    width: 100%;
    height: auto;
    display: block;
}

.main-comics .special-panel {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}


.special-panel .special-item {
    width: 100%;
    height: auto;
    display: block;
}

.special-panel .special-item:not(:first-child) {
    position: absolute;
}


.end-of-page-buttons {
    height: 10dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap:0 5px;
    margin: auto;
    z-index: 1001;
}

.end-of-page-buttons > * {
/* background-color: var(--dark-background-color); */
color: var(--light-background-color);
padding: 5px 7px;
/* border: 1px dotted black; */
border-radius: 12px;
cursor: pointer;
font-size: 0.9em;
}


.end-of-page-buttons > *:hover { 
    background-color: #00000000;
    color: #bb1436;
    border: 2px solid #bb1436;
    transition: all 0.2s ease-in-out;
}


.end-of-page-first, .end-of-page-last {
    background-color: #000000;
    border: 2px solid #000000;
    font-weight: 800;
}

.end-of-page-prev, .end-of-page-next {
    background-color:#BB1436;
    border: 2px solid #bb1436;
    font-weight: 800;
}

.end-of-page-select {
/* background-color: red; */
padding-top: 1px;
padding-bottom: 1px;
padding-left: 0.3dvw;
padding-right: 0.3dvw;
border: 2px solid #bb1436;
background-color:   var(--light-background-color);
/* border-radius: 12px; */
    /* background-color: ; */
}


select#chapter-select {
    font-weight: 400;
    background-color: rgba(var(--green-color), 0);
    height: 100%;
    /* color: var(--dark-background-color); */
    border: none;
    cursor: pointer;
    padding: 5px 0;
    text-align-last:center;
    outline: none;
    /* max-width: 14ch; */
    pointer-events:none;

}

/********************* modal pages ************************/

.aboutComic {
    background-color: #BB1436;
    color: var(--light-text-color);
    display: flex;
    gap:10px;
    padding: 0dvh 15dvw;
}


.aboutAuthors {
    background-color: #FEBF0F;
    color: var(--dark-text-color);
    display: flex;
    gap:10px;
    padding: 0dvh 15dvw;
}

.allPages {
    background-color: var(--light-background-color);
    color: var(--dark-text-color);
    display: flex;
    gap: 3px;
    padding: 3dvh 0dvw;
}

.allPagesList {
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
gap: 3px;
/* border:1px solid black; */
}

.allPagesList > * {
    min-width: 10%;
    min-height: 4dvh;
    padding: 0 1dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.allPagesList-Buttons:hover {
    border-bottom:2px dotted rgba(var(--red-color), 1);
}

.allPagesList-Close {
    margin-top: 30px;
    background-color: var(--light-text-color);
    width: 80%;
    padding: 17px 0px;
    border: 2px solid var(--light-text-color);
}

.allPagesList-Close:hover {
    border-bottom: none;
    background-color: var(--light-background-color);
    border: 2px dotted var(--dark-text-color)
}



/* 
.allPagesList:nth-child(even) {
     background-color: rgb(241, 232, 223); 
} */




.allPagesList-Buttons {
    /* background-color: wheat; */
    color: black;
    cursor: pointer;
}

.allPagesList-Title {
    /* background-color: var(--dark-text-color); */
    width: 100%;
    color: black;
    font-weight: 600;
    /* border-bottom: 1px dotted var(--dark-background-color); */
}

#contents-aboutComics, #contents-aboutAuthors, #contents-allPages {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 2001;
    flex-direction: column;
    flex-wrap: nowrap;
    animation-duration: 0.7s;
    /* display: none; */
    overflow: auto;
}

.contents-about-layout {
    width: 100%;
    margin: 0 auto;
    margin-bottom:10px;
    padding-bottom: 2dvh;
    padding-top: 10dvh;
    padding-left: 0;
    padding-right: 0;
    /* background-color: #000000; */
}

.contents-about-close {
    margin: 0 auto;
    width: 100%;
    height: 4%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-weight: 800;
    font-size: 1em;
    cursor: pointer;
    
    border: 2px dotted;

    padding: 1.3em;

    border-color: var(--light-text-color);
    background-color: var(--light-text-color);

    color: var(--dark-text-color);

    transition: all 100ms ease-in-out;
}

.contents-about-close:hover {
    color: var(--light-text-color);
    border-color: var(--light-background-color);
    background-color: rgb(175, 175, 175, 0)
    /* font-style: italic;
    font-weight: 1000; */
}

.contents-about-images {
    display: block;
    width: 14em;
    margin-bottom: 15px;
}


.aboutAuthors.contents-about-close {

    border-color: var(--dark-text-color);
    background-color: var(--dark-text-color);
    color: var(--light-text-color);

}

.aboutAuthors .contents-about-close:hover {
    color: var(--dark-text-color);
    border-color: var(--dark-background-color);
    background-color: rgb(175, 175, 175, 0)
}

/********************* responsive ************************/


@media screen and (min-width: 768px) {

    .left-navigation-buttons {
        width: 7dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons {
        width: 80%;
     }

     .select#chapter-select {
        max-width: 30ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     .contents-about-layout, .contents-about-close {
        width: 80%;
     }
}

@media screen and (min-width: 1024px) {

    .left-navigation-buttons {
        width: 6dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons {
        width: 70%;
     }

     .select#chapter-select {
        max-width: 30ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     
     .contents-about-layout, .contents-about-close {
        width: 70%;
     }
}

@media screen and (min-width: 1200px) {
    .left-navigation-buttons {
        width: 5dvw;
    }

    .main-comics, .chapter-title, .comic-item, .end-of-page-buttons{
        width: 65%;
     }

     .select#chapter-select {
        max-width: 50ch;
     }

     .end-of-page-buttons {
        justify-content: center;
     }

     
     .contents-about-layout, .contents-about-close {
        width: 40%;
     }
}


/********************* animation ************************/

.fadeOut_05s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 0.5s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_05s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 0.5s; /* don't forget to set a duration! */
   opacity: 1
}

.fadeOut_1s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 1s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_1s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 1s; /* don't forget to set a duration! */
   opacity: 1
}


.fadeOut_2s{
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 2s; /* don't forget to set a duration! */
   opacity: 0;
   }

.fadeIn_2s{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
   animation-duration: 2s; /* don't forget to set a duration! */
   opacity: 1;
   }

   

.delay_1s {
       animation-delay: 1s;
   }


/********************* hide ************************/

.hide {
    display: none;
}


/********************* loading ************************/
#loading {
    width: 100dvw;
    height: 100dvh;
    background-color: var(--light-background-color);
    background-image: url("/frontend/images/loading.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    position: fixed;
    z-index: 3000;
}






/********************* textures ************************/
#textures {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--light-background-color);
    /* background-blend-mode: overlay; */
    z-index: 9999;
    mix-blend-mode: overlay;

    background-image: url("/frontend/images/textures.gif");
    background-repeat: repeat-x repeat-y;
    background-position: center;
    background-size: 100%;

    pointer-events:none;

    opacity: 0.8;
}
