/***************************** all pages */
.special-panel {
    overflow: hidden;
}


/***************************** prolog1, chapter 1 page 1 */
.sp-prolog1-001-2, .sp-prolog1-001-3,

.sp-chapter1pg1-000-2, .sp-chapter1pg1-000-3,

.sp-chapter1pg1-001-2, .sp-chapter1pg1-001-3,
.sp-chapter1pg1-001-4, .sp-chapter1pg1-001-5,

.sp-chapter1pg1-002-3, .sp-chapter1pg1-002-4,
.sp-chapter1pg1-002-5,  


.sp-chapter1pg1-003-2, .sp-chapter1pg1-003-3,
.sp-chapter1pg1-003-4, .sp-chapter1pg1-003-5,

.sp-chapter1pg2-002-2, .sp-chapter1pg2-002-3

 {
    opacity: 0;
}


.sp-prolog1-003-3 {
opacity: 0;
width:30% !important;
left: 51.3%;
top: 43%;
transition: all 200ms ease-in-out;
}

.sp-prolog1-003-2 {
    opacity: 1;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 51.3%;
    top: 40%;
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-prolog1-003-2:hover {
    transform: scale(0.8);
    }
    
.sp-prolog1-003-2:hover ~ .sp-prolog1-003-3 {
    opacity: 1 !important;
}    


/***************************** chapter 1 page 2 */

 .sp-chapter1pg2-003-6  {
    opacity: 0;
}

.sp-chapter1pg2-003-3 {
    transform: translateY(-50%);
    opacity: 0;
}

.sp-chapter1pg2-003-5 {
    opacity:0;
}

.sp-chapter1pg2-003-2 {
    transform: translateY(60%);
}

.sp-chapter1pg2-003-4 {
    transform: translateY(35%);
    margin-left: -1dvw;
    opacity: 1;
}

.sp-chapter1pg2-004-3,
.sp-chapter1pg2-004-4, .sp-chapter1pg2-004-5 {
    opacity: 0;
}



.sp-chapter1pg2-005-4,
.sp-chapter1pg2-005-5{
    opacity: 0;
}


.sp-chapter1pg2-005-4,
.sp-chapter1pg2-005-5{
    opacity: 0;
}

.sp-chapter1pg2-006-2, 
.sp-chapter1pg2-006-3, 
.sp-chapter1pg2-006-4, 
.sp-chapter1pg2-006-5, 
.sp-chapter1pg2-006-6
{
    opacity: 0;
}


/***************************** chapter 1 page 3 */

.sp-chapter1pg3-001-2, .sp-chapter1pg3-001-3
{
    opacity: 0;
}

/* panel 2 */

/* 1 rohana */
.sp-chapter1pg3-002-2 {
    transform: translateY(70%);
}

/* 2 teks 1 */
.sp-chapter1pg3-002-3 {
    opacity: 0;
}


/* 3 ORANG RAME2 */
.sp-chapter1pg3-002-4 {
    transform: translateY(45%);
}

/* 4 teks 2 */
.sp-chapter1pg3-002-5 {
    opacity: 0;
}




/***************************** chapter 1 page 4 */
.sp-chapter1pg4-001 img {
display: inline;
}

/* to be -100% */
.sp-chapter1pg4-001-1 {
    transform: translateX(0%); 
}

/* to be -0% */
.sp-chapter1pg4-001-2 {
    /* transform: translateX(100%);  */
    z-index: -1;
    position: relative;
}


.sp-chapter1pg4-003-2, .sp-chapter1pg4-003-3, .sp-chapter1pg4-003-4 {
opacity: 0;
}

.sp-chapter1pg4-004-2, .sp-chapter1pg4-004-3, .sp-chapter1pg4-004-4 {
opacity: 0;
}

.sp-chapter1pg3-004-2,
.sp-chapter1pg3-004-3,
.sp-chapter1pg3-004-4 {
    opacity: 0;
}

/***************************** chapter 1 page 5 */

.sp-chapter1pg5-003-2a,
.sp-chapter1pg5-003-2b,
.sp-chapter1pg5-003-3a,
.sp-chapter1pg5-003-3b,
.sp-chapter1pg5-003-4a,
.sp-chapter1pg5-003-4b,
.sp-chapter1pg5-003-5a,
.sp-chapter1pg5-003-5b,
.sp-chapter1pg5-003-6,
.sp-chapter1pg5-003-7,
.sp-chapter1pg5-003-8,
.sp-chapter1pg5-003-9 {
    opacity: 0;
}

.sp-chapter1pg5-004-2 {
    opacity: 0;

}

.sp-chapter1pg5-005-2 {
    opacity: 0;
}


.sp-chapter1pg5-003-8{
    opacity: 0;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 39.6%;
    top: 39%;
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-chapter1pg5-003-8:hover {
    transform: scale(0.8);
    }

.sp-chapter1pg5-003-9 {
    opacity: 0;
    width:30% !important;
    left: 39.6%;
    top: 42%;
    transition: all 200ms ease-in-out;
    }
    

        
    .sp-chapter1pg5-003-8:hover ~ .sp-chapter1pg5-003-9 {
        opacity: 1 !important;
    }    

/***************************** chapter 2 page 1 */
.sp-chapter2pg1-000-3 {
mix-blend-mode: multiply;
}

.sp-chapter2pg1-000-2, .sp-chapter2pg1-000-3 {
    opacity: 0;
}

.sp-chapter2pg1-001-2, .sp-chapter2pg1-002-2 {
    opacity: 0;
}


/***************************** chapter 2 page 2 */
    
    .sp-chapter2pg2-004-2, .sp-chapter2pg2-004-3,
    .sp-chapter2pg2-004-4, .sp-chapter2pg2-004-5 {
        opacity: 0;
    }
    
    .sp-chapter2pg2-005-2, .sp-chapter2pg2-005-3,
    .sp-chapter2pg2-005-4 {
        opacity: 0;
    }


/***************************** chapter 2 page 3 */

.sp-chapter2pg3-002-5{
    opacity: 0;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 78.4%;
    top: 20.2%;   
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-chapter2pg3-002-6:hover {
    transform: scale(0.8);
    }

.sp-chapter2pg3-002-6 {
    opacity: 0;
    width:18% !important;
    /* 30 */
    left: 78.4%;
    top: 22%;
    transition: all 200ms ease-in-out;
    display: none;
    }
    

        
    .sp-chapter2pg3-002-5:hover ~ .sp-chapter2pg3-002-6 {
        opacity: 1 !important;
    }    

    /* 10 */
    .sp-chapter2pg3-002-3 {

        width: 45% !important;
        left:10%;
        top:10%;

        transform: translateX(-130%);
    }

    
        /* 10 */
    .sp-chapter2pg3-002-4 {
        /* transform: translateX(50%); */
        /* width: 10% !important; */

        width: 45% !important;
        left:46%;
        top:17%;
        transform: translateX(120%);
    }

        /* 10 */
    .sp-chapter2pg3-002-7 {
        transform: translateX(-130%);
        width: 45% !important;
        left:10%;
        top:24%;
        
    }

        /* 10 */
    .sp-chapter2pg3-002-8 {
        transform: translateX(120%);

                
        width: 45% !important;
        left:48%;
        top:30%;
    }

        /* 10 */
    .sp-chapter2pg3-002-9 {
        transform: translateX(-120%);

        width: 54% !important;
        left:10%;
        top:37%;
    }

        /* 10 */
    .sp-chapter2pg3-002-10 {
        /* transform: translateX(-90%); */
        
        /* transform: translate(-90%);  */
        width: 67% !important;
        left:16.6%;
        top:48%;
        scale: 0;
    }

    .sp-chapter2pg3-002-10-forSpace {
        /* transform: translateX(-90%); */
        
        /* transform: translate(-90%);  */
        width: 67% !important;
        left:16.6%;
        top:48%;
        opacity: 0;
    }

    /* 20 */

    .sp-chapter2pg3-002-11-forSpace {
        /* transform: translateY(180%); */

        width: 80% !important;
        left:10%;
        bottom: 21.4%;
        opacity: 0;
    }

    .sp-chapter2pg3-002-11 {
        transform: translateY(230%);

        width: 80% !important;
        left:10%;
        bottom: 21.4%;
    }

        /* 20 */

        .sp-chapter2pg3-002-12-forSpace {
            /* transform: translateY(90%); */
            width: 90% !important;
            left:5%;
            bottom:0;
            opacity: 0;
        }

    .sp-chapter2pg3-002-12 {
        transform: translateY(100%);
        width: 90% !important;
        left:5%;
        bottom:0;
    }


    #sp-chapter2pg3-003-2 {
        width: 40%;
        left:10%;
        bottom:5%;
    }

    .sp-chapter2pg3-003-4 {
        width: 26.6% !important;
        left:7%;
        top:0;
        transform: translateY(-100%);
    }
    
    .sp-chapter2pg3-003-5 {
        width: 63% !important;
        left:24.2%;
        top:0;
        transform: translateY(-100%);
    }

    .sp-chapter2pg3-003-6 {
        width: 63% !important;
        right: 0;
        top:10%;
        transform: translateY(-130%);
    }


    .sp-chapter2pg3-003-2-forSpace {
        width: 100%;
        height: 20%;
        border: 2px solid green;
        position: absolute;
    }

    .sp-chapter2pg3-003-4-forSpace {
        width: 100%;
        height: 20%;
        border: 2px solid yellow;
        position: absolute;
        top:9%
    }

    .sp-chapter2pg3-003-5-forSpace {
        width: 100%;
        height: 20%;
        border: 2px solid yellow;
        position: absolute;
        top:20%
    }

    .sp-chapter2pg3-003-6-forSpace {
        width: 100%;
        height: 20%;
        border: 2px solid yellow;
        position: absolute;
        top:30%
    }





    /***************************** chapter 2 page 4 */

    .sp-chapter2pg4-004-3, 
    .sp-chapter2pg4-004-8 {
        opacity: 0;
    }

    #sp-chapter2pg4-004-4{
        opacity: 1;
        z-index: 1000;
        width:1.1dvw !important;
        position: absolute;
        left: 68.7%;
        top: 12.4%;
        cursor: help;
        transition: all 200ms ease-in-out;

        display: none;
        }
    
    #sp-chapter2pg4-004-4:hover {
        transform: scale(0.8);
        }
    
    #sp-chapter2pg4-004-5{
        opacity: 0;
        width:30% !important;
        left: 68.7%;
        top: 14.4%;
        transition: all 200ms ease-in-out;
        display: none;
        }
        
    
            
        #sp-chapter2pg4-004-4:hover ~ #sp-chapter2pg4-004-5 {
            opacity: 1 !important;
        }    


        #sp-chapter2pg4-004-9{
            opacity: 1;
            z-index: 1000;
            width:1.1dvw !important;
            position: absolute;
            left: 48.66%;
            top: 80.5%;
            cursor: help;
            transition: all 200ms ease-in-out;
            display: none;
            }
        
        #sp-chapter2pg4-004-9:hover {
            transform: scale(0.8);
            }
        
        #sp-chapter2pg4-004-10{
            opacity: 0;
            width:30% !important;
            left: 48.66%;
            top: 82.5%;
            transition: all 200ms ease-in-out;
            display: none;
            }
            
        
                
            #sp-chapter2pg4-004-9:hover ~ #sp-chapter2pg4-004-10 {
                opacity: 1 !important;
            }    



.sp-chapter2pg4-002-3 {
    width: 23% !important;
    left: calc((100% - 23%)/2);
    bottom: 17%;
    transform: translateY(150%);
}


.sp-chapter2pg4-002-4 {
    width: 85% !important;
    left: calc((100% - 85%)/2);
    bottom: 9%;
    transform: translateY(120%);
}


.sp-chapter2pg4-002-2 {
opacity: 0;
}



.sp-chapter2pg4-002-3-forSpace {
    width: 100%;
    height: 20%;
    border: 2px solid yellow;
    position: absolute;
    top:0%
}

.sp-chapter2pg4-002-4-forSpace {
    width: 100%;
    height: 20%;
    border: 2px solid yellow;
    position: absolute;
    top:20%
}

.sp-chapter2pg4-003-2, .sp-chapter2pg4-003-3,
.sp-chapter2pg4-003-4, .sp-chapter2pg4-003-5 {
    opacity: 0;
}   


    /***************************** chapter 2 page 5 */


    .sp-chapter2pg5-001-4-forSpace,
    .sp-chapter2pg5-001-5-forSpace,
    .sp-chapter2pg5-001-6-forSpace,
    .sp-chapter2pg5-001-7-forSpace,
    .sp-chapter2pg5-001-8-forSpace,
    .sp-chapter2pg5-001-9-forSpace,
    .sp-chapter2pg5-001-10-forSpace {
        width: 100%;
        height: 10%;
        position: absolute;
        margin-top: 2%;
        /* opacity: 1 !important; */

        /* background-color: rgba(243, 243, 243, 0.473); */
    }

    .sp-chapter2pg5-001-4-forSpace {
        top:0%;
        border: 2px solid yellow;
        height: 5%;
    }

    .sp-chapter2pg5-001-5-forSpace {
        top:5%;
        border: 2px solid green;
    }

    .sp-chapter2pg5-001-6-forSpace {
        top:15%;
        border: 2px solid blue;
    }

    .sp-chapter2pg5-001-7-forSpace {
        top:25%;
        border: 2px solid wheat;
    }

    .sp-chapter2pg5-001-8-forSpace {
        top:35%;
        border: 2px solid violet;
    }

    .sp-chapter2pg5-001-9-forSpace {
        top:45%;
        border: 2px solid turquoise;
    }

    .sp-chapter2pg5-001-10-forSpace {
        top:55%;
        border: 2px solid gray;
    }

    /* .sp-chapter2pg5-001 > *{
        opacity: 0;
    } */


/* 
    .sp-chapter2pg5-001 > *:nth-child(1), *:nth-child(2), *:nth-child(3){
        opacity: 1;
    } */

    
    .sp-chapter2pg5-001-4,
    .sp-chapter2pg5-001-5,
    .sp-chapter2pg5-001-6,
    .sp-chapter2pg5-001-7,
    .sp-chapter2pg5-001-8,
    .sp-chapter2pg5-001-9,
    .sp-chapter2pg5-001-10,
    .sp-chapter2pg5-001-11 {
        opacity: 0;
    }


    .sp-chapter2pg5-002-2,
    .sp-chapter2pg5-002-3 {
        opacity: 0;
    }

    .sp-chapter2pg5-004-3-forSpace {
        width: 100%;
        height: 10%;
        position: absolute;
        margin-top: 2%;
        border: 2px solid red;
        top: 10%;

    }
    .sp-chapter2pg5-004-4-forSpace {
        width: 100%;
        height: 10%;
        position: absolute;
        margin-top: 2%;
        border: 2px solid green;
        top: 0%
    }

    .sp-chapter2pg5-004-3 {
        transform: translateY(45%);
    }

    .sp-chapter2pg5-004-4 {
        transform: translateY(40%);
    }

    .sp-chapter2pg6-001-2,
    .sp-chapter2pg6-001-3,
    .sp-chapter2pg6-003-2,
    .sp-chapter2pg6-004-2,
    .sp-chapter2pg6-004-3 {
        opacity: 0;
    }

    .sp-chapter2pg6-005-2 {
        transform: translateX(-45%);
    }

    .sp-chapter2pg6-005-4 {
        /* from 0 to 15% */
        transform: translateX(0%);
    }

    .sp-chapter2pg6-005-3,
    .sp-chapter2pg6-005-5 {
        opacity: 0;
    }


    .sp-chapter2pg6-005-2-forSpace {
        width: 100%;
        height: 30%;
        position: absolute;
        margin-top: 2%;
        border: 2px solid green;
        top: 0%
    }

    
    .sp-chapter2pg6-005-3-forSpace {
        width: 100%;
        height: 40%;
        position: absolute;
        margin-top: 2%;
        border: 2px solid green;
        top: 20%
    }


        /***************************** chapter 3 page 1 */

    .sp-chapter3pg1-002-3 {
        transform: translateX(-60%);
    }

    .sp-chapter3pg1-003-3 {
        transform: translateX(-35%);
    }

    .sp-chapter3pg1-003-4 {
        transform: translateX(35%);
    }

    .sp-chapter3pg1-003-5 {
        transform: translateX(-30%);
    }

    .sp-chapter3pg1-003-6 {
        transform: translateX(30%);
    }

    .sp-chapter3pg1-003-7 {
        transform: translateY(40%);
    }

    .sp-chapter3pg1-003-3-forSpace,
    .sp-chapter3pg1-003-4-forSpace,
    .sp-chapter3pg1-003-5-forSpace,
    .sp-chapter3pg1-003-6-forSpace,
    .sp-chapter3pg1-003-7-forSpace {
        width: 100%;
        height: 10%;
        position: absolute;
        border: 2px solid yellow;
    }

    .sp-chapter3pg1-003-3-forSpace {
    top:0;
    }

    .sp-chapter3pg1-003-4-forSpace {
        top:10%;
        }

        .sp-chapter3pg1-003-5-forSpace {
            top:20%;
            }

            .sp-chapter3pg1-003-6-forSpace {
                top:30%;
                }

                .sp-chapter3pg1-003-7-forSpace {
                    top:40%;
                    }


         /***************************** chapter 3 page 2 */                   
    .sp-chapter3pg2-002-2, .sp-chapter3pg2-005-3 {
        opacity: 0;
    }


             /***************************** chapter 3 page 3 */  

    .sp-chapter3pg3-001-2 {
        opacity: 0;
    }

    .sp-chapter3pg3-002-2-forSpace {
        width: 100%;
        height: 25%;
        position: absolute;
        border: 2px solid yellow;
    }

    .sp-chapter3pg3-002-2 {
        opacity: 0;
    }

    .sp-chapter3pg3-002-3 {
        transform: translateX(50%);
    }

    
    .sp-chapter3pg3-002-4-forSpace {
        width: 100%;
        height: 15%;
        position: absolute;
        border: 2px solid yellow;
        top: 25%;
    }

    .sp-chapter3pg3-002-4 {
        transform: translateX(-50%);
    }

    .sp-chapter3pg3-002-5 {
        transform: translateX(50%);
    }


    .sp-chapter3pg3-004-2 {
        opacity: 0;
    }

                 /***************************** chapter 3 page 4 */  

.sp-chapter3pg4-001-2 {
    opacity: 0;
}

.sp-chapter3pg4-002-2 {
    opacity: 0;
}


.sp-chapter3pg4-004-2, .sp-chapter3pg4-004-3,
.sp-chapter3pg4-004-4, .sp-chapter3pg4-004-5 {
    opacity: 0;
}


.sp-chapter3pg4-005-2, .sp-chapter3pg4-005-3,
.sp-chapter3pg4-005-4, .sp-chapter3pg4-005-5 {
    opacity: 0;
}


.sp-chapter3pg4-003-3-forSpace {
    width: 100%;
    height: 15%;
    position: absolute;
    border: 2px solid yellow;
    top: 0%;
}


.sp-chapter3pg4-003-3 {
    transform: translateX(-50%);
}



.sp-chapter3pg4-003-4-forSpace {
    width: 100%;
    height: 15%;
    position: absolute;
    border: 2px solid yellow;
    top: 12%;
}

.sp-chapter3pg4-003-4 {
    transform: translateX(50%);
}



.sp-chapter3pg4-003-5-forSpace {
    width: 100%;
    height: 15%;
    position: absolute;
    border: 2px solid yellow;
    top: 27%;
}


.sp-chapter3pg4-003-5 {
    transform: translateY(40%);
}


                 /***************************** chapter 3 page 5 */  

.sp-chapter3pg5-001-2-forSpace,                 
.sp-chapter3pg5-001-3-forSpace,
.sp-chapter3pg5-001-4-forSpace,
.sp-chapter3pg5-001-5-forSpace,
.sp-chapter3pg5-001-6-forSpace {
    width: 100%;
    height: 10%;
    position: absolute;
    border: 2px solid yellow;
}

.sp-chapter3pg5-001-3-forSpace {
    top:5%
}

.sp-chapter3pg5-001-4-forSpace {
    top:10%
}

.sp-chapter3pg5-001-5-forSpace {
    top:15%
}

.sp-chapter3pg5-001-6-forSpace {
    top:40%
}


.sp-chapter3pg5-001-2,
.sp-chapter3pg5-001-3,
.sp-chapter3pg5-001-4,
.sp-chapter3pg5-001-5,
.sp-chapter3pg5-001-6 {
    opacity: 0;
}

.sp-chapter3pg5-003 {
margin-top: -2%;
}

.sp-chapter3pg5-002-2 {
    opacity: 0;
}

.sp-chapter3pg5-003-2 {
    opacity: 0;
}




/* hide all border */



            /* .special-panel > * {
                border: none !important;
            } */