/***************************** all pages */
.special-panel {
    overflow: hidden;
}


/***************************** prolog1, chapter 1 page 1 */
.sp-prolog1-001-2, .sp-prolog1-001-3,

.sp-chapter1pg1-000-2, .sp-chapter1pg1-000-3,

.sp-chapter1pg1-001-2, .sp-chapter1pg1-001-3,
.sp-chapter1pg1-001-4, .sp-chapter1pg1-001-5,

.sp-chapter1pg1-002-3, .sp-chapter1pg1-002-4,
.sp-chapter1pg1-002-5,  


.sp-chapter1pg1-003-2, .sp-chapter1pg1-003-3,
.sp-chapter1pg1-003-4, .sp-chapter1pg1-003-5,

.sp-chapter1pg2-002-2, .sp-chapter1pg2-002-3

 {
    opacity: 0;
}


.sp-prolog1-003-3 {
opacity: 0;
width:30% !important;
left: 51.3%;
top: 43%;
transition: all 200ms ease-in-out;
}

.sp-prolog1-003-2 {
    opacity: 1;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 51.3%;
    top: 40%;
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-prolog1-003-2:hover {
    transform: scale(0.8);
    }
    
.sp-prolog1-003-2:hover ~ .sp-prolog1-003-3 {
    opacity: 1 !important;
}    


/***************************** chapter 1 page 2 */

 .sp-chapter1pg2-003-6  {
    opacity: 0;
}

.sp-chapter1pg2-003-3 {
    transform: translateY(-50%);
    opacity: 0;
}

.sp-chapter1pg2-003-5 {
    opacity:0;
}

.sp-chapter1pg2-003-2 {
    transform: translateY(60%);
}

.sp-chapter1pg2-003-4 {
    transform: translateY(35%);
    margin-left: -1dvw;
    opacity: 1;
}

.sp-chapter1pg2-004-3,
.sp-chapter1pg2-004-4, .sp-chapter1pg2-004-5 {
    opacity: 0;
}



.sp-chapter1pg2-005-4,
.sp-chapter1pg2-005-5{
    opacity: 0;
}


.sp-chapter1pg2-005-4,
.sp-chapter1pg2-005-5{
    opacity: 0;
}

.sp-chapter1pg2-006-2, 
.sp-chapter1pg2-006-3, 
.sp-chapter1pg2-006-4, 
.sp-chapter1pg2-006-5, 
.sp-chapter1pg2-006-6
{
    opacity: 0;
}


/***************************** chapter 1 page 3 */

.sp-chapter1pg3-001-2, .sp-chapter1pg3-001-3
{
    opacity: 0;
}

/* panel 2 */

/* 1 rohana */
.sp-chapter1pg3-002-2 {
    transform: translateY(70%);
}

/* 2 teks 1 */
.sp-chapter1pg3-002-3 {
    opacity: 0;
}


/* 3 ORANG RAME2 */
.sp-chapter1pg3-002-4 {
    transform: translateY(45%);
}

/* 4 teks 2 */
.sp-chapter1pg3-002-5 {
    opacity: 0;
}




/***************************** chapter 1 page 4 */
.sp-chapter1pg4-001 img {
display: inline;
}

/* to be -100% */
.sp-chapter1pg4-001-1 {
    transform: translateX(0%); 
}

/* to be -0% */
.sp-chapter1pg4-001-2 {
    /* transform: translateX(100%);  */
    z-index: -1;
    position: relative;
}


.sp-chapter1pg4-003-2, .sp-chapter1pg4-003-3, .sp-chapter1pg4-003-4 {
opacity: 0;
}

.sp-chapter1pg4-004-2, .sp-chapter1pg4-004-3, .sp-chapter1pg4-004-4 {
opacity: 0;
}

.sp-chapter1pg3-004-2,
.sp-chapter1pg3-004-3,
.sp-chapter1pg3-004-4 {
    opacity: 0;
}

/***************************** chapter 1 page 5 */

.sp-chapter1pg5-003-2a,
.sp-chapter1pg5-003-2b,
.sp-chapter1pg5-003-3a,
.sp-chapter1pg5-003-3b,
.sp-chapter1pg5-003-4a,
.sp-chapter1pg5-003-4b,
.sp-chapter1pg5-003-5a,
.sp-chapter1pg5-003-5b,
.sp-chapter1pg5-003-6,
.sp-chapter1pg5-003-7,
.sp-chapter1pg5-003-8,
.sp-chapter1pg5-003-9 {
    opacity: 0;
}

.sp-chapter1pg5-004-2 {
    opacity: 0;

}

.sp-chapter1pg5-005-2 {
    opacity: 0;
}


.sp-chapter1pg5-003-8{
    opacity: 0;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 39.6%;
    top: 39%;
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-chapter1pg5-003-8:hover {
    transform: scale(0.8);
    }

.sp-chapter1pg5-003-9 {
    opacity: 0;
    width:30% !important;
    left: 39.6%;
    top: 42%;
    transition: all 200ms ease-in-out;
    }
    

        
    .sp-chapter1pg5-003-8:hover ~ .sp-chapter1pg5-003-9 {
        opacity: 1 !important;
    }    

/***************************** chapter 2 page 1 */


/***************************** chapter 2 page 3 */

.sp-chapter2pg3-002-5{
    opacity: 1;
    z-index: 1000;
    width:1.1dvw !important;
    position: absolute;
    left: 79.2%;
    top: 22.2%;   
    cursor: help;
    transition: all 200ms ease-in-out;
    }

.sp-chapter2pg3-002-6:hover {
    transform: scale(0.8);
    }

.sp-chapter2pg3-002-6 {
    opacity: 0;
    width:18% !important;
    /* 30 */
    left: 79.5%;
    top: 23.6%;
    transition: all 200ms ease-in-out;
    }
    

        
    .sp-chapter2pg3-002-5:hover ~ .sp-chapter2pg3-002-6 {
        opacity: 1 !important;
    }    


    /***************************** chapter 2 page 4 */

    .sp-chapter2pg4-004-4{
        opacity: 1;
        z-index: 1000;
        width:1.1dvw !important;
        position: absolute;
        left: 68.7%;
        top: 12.4%;
        cursor: help;
        transition: all 200ms ease-in-out;
        }
    
    .sp-chapter2pg4-004-4:hover {
        transform: scale(0.8);
        }
    
    .sp-chapter2pg4-004-5{
        opacity: 0;
        width:30% !important;
        left: 68.7%;
        top: 14.4%;
        transition: all 200ms ease-in-out;
        }
        
    
            
        .sp-chapter2pg4-004-4:hover ~ .sp-chapter2pg4-004-5 {
            opacity: 1 !important;
        }    


        .sp-chapter2pg4-004-9{
            opacity: 1;
            z-index: 1000;
            width:1.1dvw !important;
            position: absolute;
            left: 48.66%;
            top: 80.5%;
            cursor: help;
            transition: all 200ms ease-in-out;
            }
        
        .sp-chapter2pg4-004-9:hover {
            transform: scale(0.8);
            }
        
        .sp-chapter2pg4-004-10{
            opacity: 0;
            width:30% !important;
            left: 48.66%;
            top: 82.5%;
            transition: all 200ms ease-in-out;
            }
            
        
                
            .sp-chapter2pg4-004-9:hover ~ .sp-chapter2pg4-004-10 {
                opacity: 1 !important;
            }    