.sp-prolog1-001-2, .sp-prolog1-001-3,

.sp-chapter1pg1-000-2, .sp-chapter1pg1-000-3,

.sp-chapter1pg1-001-2, .sp-chapter1pg1-001-3,
.sp-chapter1pg1-001-4, .sp-chapter1pg1-001-5,

.sp-chapter1pg1-002-3, .sp-chapter1pg1-002-4,
.sp-chapter1pg1-002-5,  


.sp-chapter1pg1-003-2, .sp-chapter1pg1-003-3,
.sp-chapter1pg1-003-4, .sp-chapter1pg1-003-5,

.sp-chapter1pg2-002-2, .sp-chapter1pg2-002-3

 {
    opacity: 0;
}




 .sp-chapter1pg2-003-6  {
    opacity: 0;
}




.sp-chapter1pg2-003-3 {
    transform: translateY(-50%);
    opacity: 0;
}

.sp-chapter1pg2-003-5 {
    opacity:0;
}

.sp-chapter1pg2-003-2 {
    transform: translateY(60%);
}


.sp-chapter1pg2-003-4 {
    transform: translateY(35%);
    margin-left: -1dvw;
    opacity: 1;
}


.special-panel {
    overflow: hidden;
}